body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('fond2.jpg');
  background-size: cover; /* Couvre tout l'élément */
  background-position: center; /* Centre l'image */
  background-repeat: repeat; /* Évite la répétition de l'image */
  margin: 5px; 
  scroll-behavior: smooth;

/* Ajoute un peu d'espace à l'intérieur */
border: 7px solid black; /* Définit la bordure */
border-radius: 15px; /* Rayon des coins arrondis */



}
.bandeau h1{
  background-color: #240442; /* Couleur de fond */
  color: rgba(241, 0, 0, 0.979); /* Couleur du texte */
  text-align: center; /* Centrer le texte */
  padding: 20px; /* Espacement interne */
  width: 96,8%; /* Prendre toute la largeur */
  font-weight:bold;
  text-decoration: underline;
  height: 80px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.slideshow-container {
  position: relative;
  max-width: 400px;
  margin: auto;
  overflow: hidden; /* Cache les images qui débordent */
}

input[type="radio"] {
  display: none; /* Cache les boutons radio */
}

.slides {
  display: flex;
  transition: transform 0.5s ease; /* ajoute l'effet de transition sur le coté*/
}

.slide {
  min-width: 100%;
}

img {
  width: 100%;
}

.navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.nav-button {
  cursor: pointer;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  user-select: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0);
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}
.bandeau_titre{
  background-color: #480785; /* Couleur de fond */
  color: rgba(0, 72, 241, 0.979); /* Couleur du texte */
   padding: 20px; /* Espacement interne */
  width: 50%; /* Prendre toute la largeur */
  font-weight:bold;
  text-decoration: underline;
  height: 70px;
  text-align: center;
}
.de20{
  width: 200px; /* Largeur de la div */
  height: 200px; /* Hauteur de la div */
  float:right;
  width:10%;
  margin-top: 120px; /* Ajuste l'image vers le bas */
  margin-right: 15px;
  overflow: hidden; /* Évite que l'image agrandie déborde */
  transition: transform 0.3s ease; /* Animation fluide */
}

.de20:hover {
    transform: scale(1.2); /* Agrandit l'image de 20% */
}